@using Blazored.Toast

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" ShowProgressBar="true" Timeout="3" />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="additionalAssemblies">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin Route="/Login" />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private Assembly[] additionalAssemblies = new[]
    {
        Assembly.Load("Account.Client.dll"),
        Assembly.Load("Cities.Client.dll")
    };
}